* {
    margin: 0%;
    padding: 0%;

}

.purple {
    color: rgb(189, 133, 241);
}

body {
    background-color: rgb(1, 2, 32);
    color: white;
    font-family: "Poppins", serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(1, 2, 40);
    border-radius: 50px;
    margin: 10px 50px;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(189, 133, 241);
    font-size: 1.01rem;
}

.left {
    font-size: 1.35rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    align-items: center;
}

.firstSection>div {
    width: 30%;
    margin: 50px 0;
}

.leftFirstSection {
    text-align: center;
    padding: 4rem 0rem;
    font-size: 2rem;
}

.rightFirstSection {
    text-align: center;

}

.secondSection {
    margin: 30px 10%;
}

.secondSection hr {
    border: 0px;
    background: rgb(199, 145, 250);
    height: 1.5px;

}

.secondSection h2 {
    margin: 1rem;
}

.slideProject {
    position: relative;
    justify-items: center;
}

.slideProjectContainer {
    border: 2px solid;
    /* border-color: rgb(189, 133, 241); */
    /* border-color: white; */
    margin: 1rem 10%;
    padding: 25px 10px;
    height: 450px;
    text-align: center;
}

.slideProjectContainer:hover{
    border-color: rgb(189, 133, 241);
}

.slideProjectContainer h3 {
    text-align: center;
}

.slideProjectContainer a {
    text-decoration: none;
    color: white;
    text-align: center;

}

.slideProjectContainer a img{
    width: 300px;
    height: 270px;
    background-color: white;
    border: 4px solid;
    border-radius: 70%;
}

.slideProjectContainer a:hover {
    color: rgb(189, 133, 241);
}

.slideshow {
    display: none;
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgb(189, 133, 241);
    ;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: rgb(189, 133, 241);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

footer {

    display: flex;
    justify-content: space-evenly;
    background-color: rgb(20 20 28);
    padding: 5rem;
}

footer .first-footer>div{
    padding: 10px;
    border-top: 3px solid rgb(189, 133, 241);;
    border-left: 3px solid rgb(189, 133, 241);;
    border-bottom: 3px solid rgb(189, 133, 241);;
}

footer ul{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

footer ul li a:hover{
    text-decoration: none;
    color: rgb(189, 133, 241);

}